<div class="text-center">
  <h1>施設詳細</h1>
</div>

<div class="institution-detail">
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <td>施設名</td>
        <td><%= @institution.name %></td>
      </tr>
      <tr>
        <td>都道府県</td>
        <td><%= @institution.location %></td>
      </tr>
      <tr>
        <td>URL</td>
        <td><a href= "<%= @institution.url %>"><%= @institution.url %></td>
      </tr>
    </table>
  </div>
  
  <div class="institutionmicropost">
    <div class="form-group">
      <%= form_for(@institutionmicropost, url: institution_institutionmicroposts_path(@institution)) do |f| %>
        <%= f.hidden_field :institution_id, :value => @institution.id %>
        <%=f.text_area :content , class: "form-control", rows: 5 %>
        <div class="text-center">
          <%=f.submit 'この内容で投稿', class: "btn btn-primary btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
